.image-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 15px;
}

body {
  font-family: 'Roboto';
  background: #2d7254;
  color: white;
}

img {
  display: inline;
  margin: 0 auto;
}

.center {
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}

.hex {
  zoom: 0.5;
  max-height: 275px;
  max-width: calc(30%);
}

.hex-nozoom {
  max-height: 275px;
}

.rhs {
  display: inline-block;
  vertical-align: top;
}

h3 {
  font-weight: lighter;
}

.features {
  z-index: 10;
}

.features ul {
  list-style: circle;
  padding: 0;
}

.features ul li:before {
  color: green;
  padding-right: 5px;
}

.features li {
  display: none;
  font-size: 1.5em;
  text-align: left;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

@media (max-width: 900px) {
  .flex-container {
    flex: 0.5;
    flex-direction: column;
  }
}

.col {
  flex: 0.5;
}

a {
  color: gray;
}

.button {
  display: flex;
  align-items: center;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  background: #0f7c10;
  border-radius: 0px;
  border: 1px solid #ffffff;
  border-width: 1px 1px 1px 1px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 0px 0px #ffffff, 0px 1px 3px rgba(0%, 0%, 0%, 0.3);
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  text-shadow: 0px -1px 0px rgba(0%, 0%, 0%, 0.4)
}

.button:hover {
  color: fff;
}

.button>div {
  color: #999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
}

.button>i {
  font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 00px;
  margin: 0px 0px 0px 0px;
  position: static
}

.button>.ld {
  font-size: initial
}

.vs-code {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAYAAAD0eNT6AAAACXBIW…DdPqXsY7V9kNJPk9Lsnn3028dF++hDQR8AAAAAQIL5/wFztOuM28dnBAAAAABJRU5ErkJggg==);
  background-size: 24px 24px;
  position: relative;
  background-repeat: no-repeat;
  background-position: left 50%;
  padding-left: 36px;
  font-size: 20px;
  letter-spacing: -0.04rem;
  color: white;
  min-height: 50px;
  padding-top: 15px;
  line-height: 20px;
}

a {
  color: #fff
}